<div class="jumbotron">
  <div class="container  m-5">
    <h1 class="display-1" id="jumbotext1">ScoreIT</h1>
    <h3 class="display-6 text-secondary" id="jumbotext2">Analyse de start-up.</h3>
    <p  class="text-dark" id="jumbotext3" >Conseil, notation et valorisation.</p>
    <div class="jumbotron-btn">
      <%= link_to "Se lancer", new_startup_path , class:"btn btn-lg rounded-pill", id:"jumbutton"%>
    </div>
  </div>
</div>
