<!----------- Description  ---------------->
<div class="container">
  <!-- Title -->
  <div class="text-center">
    <h6>Le processus est simple et entièrement gratuit.</h6>
    <h2 id="how-work">Comment ça marche ?</h5>
  </div>
  <br/>
  <!--  Section 1 -->
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'undraw_online_ad_re_ol62 (1).svg', style: 'width:500px;' %>
    </div>
    <div class="col-md-6 text-center-justify">
      <div  class="container m-5">
        <h4 class="description" > Enregistrement de la start-up</h4>
        <p>L’entreprise s’inscrit sur la plateforme en fournissant ses informations, c'est simple et gratuit.</p>
      </div>
    </div>
  </div>
  <br/>
  <!-- Section 2 -->
  <div class="row">
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-1 order-md-1 order-sm-2  text-center-justify  ">
      <div class="container m-5">
        <h4 class="description">Accès a son tableau de bord</h4>
        <p>Une fois enregistrée, la start-up aura accès à son tableau de bord contenant toutes les informations nécessaires pour analyser son projet ou le lancer correctement.</p>
      </div>
    </div>
    <div class="  col-md-6 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1  ">
      <%= image_tag 'undraw_dashboard_re_3b76 (1).svg', style: 'width:500px;' %>
    </div>
  </div>
  <br/>
  <!-- Section 3 -->
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'undraw_personal_goals_re_iow7 (1).svg', style: 'width:500px;' %>
    </div>
    <div class="col-md-6 text-center-justify">
      <div class="container m-5">
        <h4 class="description">Notation</h4>
        <p>Le(s) fondateur(s) de la start-up remplit un grand formulaire lui permettant d’évaluer si le projet est sur la bonne voie ou s’il peut être lancé, son tableau de bord sera beaucoup plus complet avec toutes sortes de graphiques liés à sa notation.
          Un fichier pdf officiel sera fourni pour mieux soutenir les démarches visants les systèmes bancaires et autres en donnant plus de crédibilité.
        </p>
      </div>
    </div>
  </div>
  <br/>
  <!-- Section 4 -->
  <div class="row">
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-1 order-md-1 order-sm-2  text-center-justify">
      <div class="container m-5">
        <h4 class="description">Mise en relation</h4>
        <p>Après paiement, les business angels auront la possibilité de contacter les start-up avec lesquelles ils souhaitent investir car ils auront accès aux notations.</p>
      </div>
    </div>
    <div class=" col-md-6 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1  ">
      <%= image_tag 'undraw_business_deal_re_up4u (1).svg', style: 'width:500px;' %>
    </div>
  </div>
</div>
