<div class="container my-5">

  <h2>Merci pour votre achat, le certificat arrivera dans quelques minutes directement dans votre boîte mail.</h2>
  <p>Ce dernier est valable pendant 3 mois.</p>

  <br>
  <p>Vous allez être redirigé automatiquement dans quelques secondes.</p>
  <p>Pour être redirigé directement cliquez <%= link_to 'ici', root_path %>.</p>
</div>
<script src="https://cdn.lordicon.com/lusqsztk.js%22%3E"</script>
<lord-icon
  src="https://cdn.lordicon.com/dpinvufc.json"
  trigger="loop"
  colors="primary:#9e45d1,secondary:#08a88a"
  style="width:250px;height:250px">
</lord-icon>
