<div class="wrap">
  <div class="logo">
    <p>Vous faites fausse route(technique)</p>
    <%= image_tag "meme404.jpg" %>
    <div class="sub">
      <p><%= link_to "Retour", root_path %></p>
    </div>
  </div>
</div>