<div class="wrap">
  <div class="logo">
    <p>Le serveur prend du repos</p>
    <%= image_tag "erreur500.jpg" %>
    <div class="sub">
      <p><%= link_to "Retour", root_path %></p>
    </div>
  </div>
</div>