<div class="wrap">
  <div class="logo">
    <p>C'est inacceptable!</p>
    <%= image_tag "erreur422.jpg" %>
    <div class="sub">
      <p><%= link_to "Retour", root_path %></p>
    </div>
  </div>
</div>