<div class="wrap">
  <div class="logo-errors">
    <h2>C'est inacceptable!</h2>
    <%= image_tag "error422.jpg", class: "img-errors"%>
    <div class="sub sub-errors">
      <p><%= link_to "Retour", root_path, class: "btn-form mb-5", id: "btn-errors"%></p>
    </div>
  </div>
</div>
