<div class="container my-5">
  <h2>Merci pour votre achat, Vous allez être redirigé vers votre dashboard vous pourrez directement commencer votre notation</h2>
  <br>
  <p>Vous allez être redirigé automatiquement dans <span id="countdown">7</span> secondes.</span>
  <p>Pour être redirigé directement cliquez <%= link_to 'ici', startup_path(current_user.startup.id) %>.</p>
</div>
<%= link_to "Tableau de bord", startup_path(current_user.startup.id) , id:"redirect_dashboard"%>
