/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Poppins:wght@100;200&family=Roboto:wght@100;300&family=Ubuntu&display=swap');
:root {
    --prim: #9e45d1 !important;
    --second: #66ced6 !important;
    --dark: #020003 !important;
    --medium-ligth: #777578 !important;
    --light: #f5f0fa !important;
    --danger: rgb(255, 44, 44) !important;
    --success: rgb(50, 163, 5) !important;
}

body {
    background-color: #f5f0fa !important;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', 'Roboto', 'Poppins', 'Maven Pro', sans-serif;
}

p,
h4 {
    font-family: 'Maven Pro', 'Roboto', 'Poppins', 'Ubuntu', sans-serif;
}

.main {
    min-height: 80vh;
}