@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


#pixel-overlay {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.message {
    font-family: 'Press Start 2P';
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: pointer;
}

.secret {
    display: none;
}

#close {
    color: rgb(255, 255, 255);
}

.object {
    animation: MoveUpDown 1s ease-in-out infinite;
    position: absolute;
    left: 0;
    bottom: -200px;
    transform: translate(-50%, -50%);
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: -200px;
    }
    50% {
        bottom: -150px;
    }
}

#easterhome {
    display: none;
}


.pulse {
    transform: scale(1);
    animation: pulse-omniauth 2.5s infinite;
}

@keyframes pulse-omniauth {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(128, 101, 230, 1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 17px rgba(128, 101, 230, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(128, 101, 230, 0);
    }
}