// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo-errors {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 3%;
}

.sub-errors {
  padding-top: 3%;
}

#btn-errors {
  text-decoration: none;
}

.img-errors {
  padding-top: 3%;
}