#block {
    height: 70vh;
    width: 98vw;
    display: grid;
    justify-items: center;
    align-items: center;
}


#box-pwd {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(247, 247, 247, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

#act {
    text-align: center;

}


#email-input {
    border-color: var(--prim);
    text-align: center;
}

#reset-pwd-btn {
    background-color: #66ced6;
    color: #fff;

}


#reset-pwd-btn:hover {
    color: #66ced6;
    background-color: #fff;

}


