

#title-s-profile {
    color: var(--prim);
    
}

#title-email {
    color: var(--prim);
}

#username-title {
    font-size: 50px;
    
}


#div-s-profile {
    border-style: solid;
    border-width: 1px;
    border-color:rgb(192, 188, 188);
    border-radius: 5px;
}

#btn-change {
    margin-top: 20px;
    border-color:var(--prim)!important;
    background-color:var(--second);
    color:var(--light)!important;
    font-weight:400;
}

#btn-change:hover {
    border-color:var(--second)!important;
    background-color: var(--prim)!important;
    color:var(--light)!important;
    font-weight:400;
}