.signin-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.signin-title {
    margin-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Ubuntu', 'Roboto', 'Poppins', 'Maven Pro', sans-serif;
    color: black;
}

.signin-box {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vh;
    height: auto;
    background: rgba(247, 247, 247, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.signin-form-group {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.form-control {
    border: solid !important;
    border-color: var(--prim) !important;
}

#letsgo {
    margin-left: -0.1px !important;
    margin-top: 15px;
    margin-left: 130px;
    background-color: #66ced6;
    color: #fff;
    font-weight: 300;
}

#register {
    margin-top: 15px;
    background-color: #66ced6;
    color: #fff;
    font-weight: 300;
}

.signin-form-check {
    margin-left: 15px;
}

.signin-submit {
    display: grid;
    justify-items: center;
    align-items: center;
}

.btn-home {
    margin-top: 10px;
    justify-self: right;
}

.btn-signinform {
    margin-top: 10px !important;
    background-color: none !important;
    height: 90px !important;
    width: 130px !important;
    border-color: var(--prim) !important;
    border-radius: 20px !important;
    border-width: 1.5px !important;
    font-family: 'Ubuntu', 'Roboto', 'Poppins', 'Maven Pro', sans-serif;
    color: var(--prim) !important;
    font-size: 20px !important;
}

.btn-signinform:hover {
    background-color: var(--prim) !important;
    color: var(--light) !important;
    border-color: none !important;
}

.links-submit-form {
    margin-top: 5px;
}

.links-devise-rs {
    text-decoration: none;
    color: green;
}

.btn-login {
    text-decoration: none;
    color: var(--prim);
}