#content {
    margin-bottom: 50px;
}

.score_button {
    top: 90vh;
    left: 100vw;
    position: sticky;
    box-shadow: 0px 0px 14px -9px #000000;
}

#barChart {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 14px -9px #000000;
    padding: 40px;
    height: auto;
}

#marksChart {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 14px -9px #000000;
    padding: 40px;
}

form {
    margin-top: 10px !important;
    margin-left: 0 !important;
}

.card-btn {
    color: #fff;
    background-color: #66ced6;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
}

.card-btn:hover {
    color: #66ced6;
    background-color: #fff;
}

.card-btn-secondary {
    color: #66ced6;
    background-color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
}

.card-btn-secondary:hover {
    color: #fff;
    background-color: #66ced6;
}

.text-color {
    color: rgb(158, 69, 209);
}

#score_name, #score_category_team, #score_category_finance, #score_category_innovation, #score_category_market, #score_category_offer, #score_category_strategy {
    display: none;
}

#continue-btn, #new-btn {
    margin-top: 15px;
    margin-left: 130px;
    background-color: #66ced6;
    color: #fff;
    font-weight: 300;
}


form.button_to {
    margin: 0 !important;
}

#continue-btn:hover {
    background-color: #fff;
    color: var(--second);
    border-color: var(--second);
}

#new-btn:hover {
    background-color: #fff;
    color: var(--second);
    border-color: var(--second);
}

#delete-startup {
    color: var(--danger);
    background-color: #fff;
}

#delete-startup:hover {
    background-color: var(--danger);
    color: #fff;
}
