<div class="container" id="content">

  <div class="row g-3">
    <div class="col-12 card_startup">
      <h2 class="text-center" style="font-size:2rem;">Informations de la Startup</h2>
      <p class="show-admin">Nom de la startup : <span class="text-color"> <%= @startup.name %></span></p>
      <p class="show-admin">ID de la startup : <span class="text-color"> <%= @startup.id %></span></p>
      <p class="show-admin">Description de la startup : <span class="text-color"> <%= @startup.name %></span></p>
    </div>
  </div>


</div>